<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Show Live</title>
<link rel="stylesheet" href="/css/bootstrap.css" />
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
</head>
<body>
	<div class="container">
		<h1>Show Live</h1>
		<tr th:each="custumer : ${customerLists}">
					<td th:text="*{custumer.id}"></td>
					<td th:text="*{custumer.dateId}"></td>
					<td th:text="*{custumer.name}"></td>
					<td th:text="*{custumer.number}"></td>
					<td th:text="*{custumer.remarks}"></td>
		</tr>


		<div>
			<a class="btn btn-default" th:href="@{/liveList/{dateId}/edit(dateId=*{dateId})}">編集</a>
		</div>
		<div class="pull-right">
			<a class="btn btn-link" href="/liveList">一覧画面へ</a>
		</div>
	</div>
</body>
</html>