<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>チケット取り置き管理ツール</title>
<link rel="stylesheet" href="/css/bootstrap.css" />
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
</head>
<body>
	<div class="container">
		<h1>Live出演リスト</h1>
		<table class="table">
			<thead>
				<tr>
					<th>日付</th>
					<th>場所</th>
					<th>備考</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<th:block th:with="live=${liveList}">
				<tr th:each="liveList : ${live}">
					<td th:text="*{liveList.dateId}"></td>
					<td th:text="*{liveList.place}"></td>
					<td th:text="*{liveList.remarks}"></td>
					<td><a class="btn btn-default btn-xs"
						th:href="@{/liveList/{dateId}(dateId=*{liveList.dateId})}">参照</a></td>
					<td><a class="btn btn-default btn-xs"
						th:href="@{/liveList/{dateId}/edit(dateId=*{liveList.dateId})}">編集</a></td>
					<td>
						<form th:action="@{/liveList/{dateId}(dateId=*{liveList.dateId})}" th:method="post">
							<input class="btn btn-default btn-xs" type="submit" name="delete" value="削除" />
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<a class="btn btn-primary" href="liveList/new">新規作成</a>
	</div>
</body>
</html>
