<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>新規登録ページ</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<h1>取り置きを新規登録</h1>

		<form th:action="@{/customer}" th:method="post" th:object="${customerList}">
			<div class="form-group">
			<input  class="form-control"
					type="hidden" name="id">
			<input  class="form-control"
					type="hidden" name="dateId" th:field="${customerList.dateId}" />
			</div>

			<div class="form-group">
				<label class="control-label">名前</label> <input class="form-control"
					type="text" name="name" />
					<span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
			</div>
			<div class="form-group">
				<label class="control-label">枚数</label> <input class="form-control" placeholder="1"
					type="number" name="number" />
					<span class="text-danger" th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></span>
			</div>
			<div class="form-group">
				<label class="control-label">メモ</label> <input class="form-control"
					type="text" name="comment" />
			</div>
			<button class="btn btn-primary" type="submit" >登録</button> <!-- th:href="@{/customer/customerNew/{dateId}(dateId=*{dateId})}" -->
		</form>
		<div class="pull-right">
			<a class="btn btn-link" href="/liveList">一覧画面へ</a>
		</div>
	</div>
</body>
</html>